* {
    margin: 0;
    padding: 0;
}

body {
    overflow: hidden;
}

header {
    text-align: center;
    height: 8vh;
    background: rgb(221,221,221);
    border-bottom: 2px solid black;
}

header h1 {
    padding-top: 8px;
}

footer {
    height: 20vh;
    background: rgb(221,221,221);
    border-top: 2px solid black;
}

main {
    margin: 10px 0;
}

#ColorDeathSquare {
    height: 80vh;
}
