* {
    margin: 0;
    padding: 0;
}

body {
    overflow: hidden;
}

/*Header*/
header {
    text-align: center;
    height: 8vh;
    background: rgb(221,221,221);
    border-bottom: 2px solid black;
}

header h1 {
    padding-top: 8px;
    font-size: 5vh;
}
/*Header*/


/*Game*/
main {
    margin: 10px 0;
}

#ColorDeathSquare {
    height: 80vh;
    display: block;
    margin: 0 auto;
}

#ColorDeathSquareExtra{
    display: none;
}
/*Game*/
/*Footer*/
footer {
    height: 15vh;
    background: rgb(221,221,221);
    border-top: 2px solid black;
}

footer h6 {
    font-size: 1.5vh;
}
/*Footer*/
